* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'roboto', sans-serif;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-image: linear-gradient(45deg,#9fbaa8,#31354c);

}

.square {
  display: flex;
  justify-content: center;
  align-items: center;
  float: left;
  height: 60px;
  width: 60px;
  border: 1px solid #42e8f4;
  color: black;
  background: white;
  cursor: pointer;

}
.squares {
  height: 360px;
  width: 360px;
}

.square.template {
  display: none;
}

.square.yellow {
  background: #fffb44;
}

.square.green {
  background: #47ff44;
}
